$width_wrapper: 426px;
$width_sidebar: 68px;
$width_primary: $width_wrapper - $width_sidebar - 2;
$height_full: 560px;
$height_child: 526px;

.wrap-panel-notify{
  position: absolute;
  top: -18px;
  right: 7px;
}

.panel-notify{

  display: inline-block;
  //width: 100%;
  position: relative;
  width: 800px;
  top: 14px;

  @media (max-width: 480px) {
    top: 0;
    display: inline-block!important;
    width: 100%!important;
  }

  //.arrow_box {
  //  position: relative;
  //  background: #fff;
  //}
  //.arrow_box:after {
  //  bottom: 100%;
  //  left: 50%;
  //  border: solid transparent;
  //  content: " ";
  //  height: 0;
  //  width: 0;
  //  position: absolute;
  //  pointer-events: none;
  //  border-color: rgba(255, 255, 255, 0);
  //  border-bottom-color: #fff;
  //  border-width: 10px;
  //  margin-left: -10px;
  //}

  > a{
    float: right;
  }

  //&.open{
  //  .notify-wrapper{
  //    display: inline-block!important;
  //  }
  //}

  .notify-wrapper{
    position: absolute;
    top: 50px;
    right: 0;
    //z-index: 999999999999;
    z-index: 99999;
    display: inline-block;
    width: $width_wrapper;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #bababa;
    float: left;

    @media not all and (max-width: 480px) {
      overflow: hidden;
      height: $height_full;

      -webkit-box-shadow: 0px 2px 8px 2px rgba(186,186,186,1);
      -moz-box-shadow: 0px 2px 8px 2px rgba(186,186,186,1);
      box-shadow: 0px 2px 8px 2px rgba(186,186,186,1);
    }

    @media (max-width: 480px) {
      display: inline-block!important;
      position: relative!important;
      top: 0!important;
      left: 0!important;
      width: 100%!important;
      border-radius: 0;
    }

    .notify-header{
      display: inline-block;
      width: 100%;
      float: left;
      background: #fff;
      border-bottom: 1px solid #bfbfbf;
      padding: 7px 0;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      color: #032d3e;
      font-weight: bold;
      position: relative;
      z-index: 10;

      .arrow-up{
        position: absolute;
        top: -8px;
        right: 32px;
        background: transparent;
        //color: #fff;

        width: 10px;
        height: 20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;

        @media (max-width: 480px) {
          display: none!important;
        }

      }
    }
    .notify-body{
      display: inline-block;
      width: 100%;
      float: left;
      background: transparent;
      position: relative;

      .notify-sidebar{
        z-index: 9;
        width: $width_sidebar;
        display: inline-block;
        float: left;
        background: #f9f9f9;
        //border-top: 1px solid #eaeaea;
        position: relative;
        border-right: 1px solid #dbdbdb;

        @media not all and (max-width: 480px) {
          height: $height_child;

          -webkit-box-shadow: inset -2px 0px 5px 0px rgba(219,219,219,1);
          -moz-box-shadow: inset -2px 0px 5px 0px rgba(219,219,219,1);
          box-shadow: inset -2px 0px 5px 0px rgba(219,219,219,1);
        }

        @media (max-width: 480px) {
          width: $width_sidebar - 10!important;
        }

        > ul{
          display: inline-block;
          list-style: none;
          background: #e9e9e9;
          margin: 0;
          padding: 0;
          width: 100%;
          position: absolute;
          top:0;
          left: 0;
          z-index: 10;

          > li{

            &:hover{
              cursor: pointer;
            }
            > a{
              display: inline-block;
              width: 100%;
              text-align: center;
              padding: 23px 0;
              border-bottom: 1px solid #e9e9e9;

              &:hover, &.active{
                background: #219ae8;
                cursor: pointer;
                > i{
                  color: #fff;
                }
              }

              > i{
                font-size: 16px;
                color: #748893;
              }
            }

          }
        }
      }

      .notify-primary{
        width: 100%;
        display: inline-block;
        float: left;
        border-top: 1px solid #eaeaea;
        background: #fff;
        position: absolute;
        left: 0;
        padding-left: 67px;
        z-index: 0;

        @media not all and (max-width: 480px) {
          height: $height_child;
        }

        @media (max-width: 480px) {
          position: relative;
          padding-left: 57px!important;
        }

        .empty-message{
          font-size: 12px;
          color: #748893;
          //padding: 30px 40px 400px 40px;
          padding: 30px 40px 30px 40px;
          //min-height: $height_child;

          text-align: center;
          display: inline-block;
          width: 100%;
          background: #fff;
          
          @media (max-width: 480px) {
            padding: 20px 30px;
          }
        }

        //-webkit-box-shadow: -2px 0px 5px 0px rgba(219,219,219,1);
        //-moz-box-shadow: -2px 0px 5px 0px rgba(219,219,219,1);
        //box-shadow: -2px 0px 5px 0px rgba(219,219,219,1);

        //-webkit-box-shadow: -1px 0px 5px 0px rgba(219,219,219,1);
        //-moz-box-shadow: -1px 0px 5px 0px rgba(219,219,219,1);
        //box-shadow: -1px 0px 5px 0px rgba(219,219,219,1);


      }
    }
  }

  //viết lại css cho phù hợp
  .notification-view{
    position: relative!important;
    width: 100%!important;
    min-height: $height_child!important;

    .notifications{
      //width: 100%!important;
      margin-left: 0!important;
      margin-right: 0!important;

      ul.ul-notifications{
        width: 100%!important;
        ul.list-notify{
          width: 100%!important;
          > li{
            width: 100%!important;
            background: rgba(237,239,245,.98)!important;

            .noti-title{
              width: 100%!important;
              position: relative;
              padding-right: 75px;
            }

            .noti-image{
              position: absolute!important;
              top: 15px!important;
              right: 0!important;
            }

            &.consumed{
              background: #fff!important;
              .noti-title {
                color: #032d3e !important;
                .noti-time{
                  > i{
                    color: #0b6198!important;
                  }
                }
              }
              .noti-image{

              }
            }

            &:hover{
              .noti-title{
                color: #fff!important;
                .noti-time{
                  > i{
                    color: #fff!important;
                  }
                }
              }

            }
          }
        }
      }
    }


  }

}

.header-top{
  i.fa-inbox{
    margin: 0;
    padding: 0;
  }

  .total-no{
    display: inline-block;
    background: #d71f26;
    padding: 3px 4px;
    border-radius: 2px;
    position: relative;
    color: #fff;
    font-size: 10px;
    margin-left: 7px;

    .arrow-left-no {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #d71f26;
      position: absolute;
      top: 27%;
      left: -4px;
    }
  }
}

.header-mobile-view{
  .notifications{
    display: inline-block;
    float: left;
    margin: 0;
    > a{
      height: 59px;
      display: inline-block;
      padding-left: 20px;
      padding-top: 20px;
      position: relative;
      padding-right: 20px;
    }
  }


  i.fa-inbox{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
  }

  .total-no{
    display: inline-block;
    background: #d71f26;
    padding: 3px 4px;
    border-radius: 2px;
    position: relative;
    color: #fff;
    font-size: 10px;
    margin-left: 7px;

    .arrow-left-no {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #d71f26;
      position: absolute;
      top: 27%;
      left: -4px;
    }
  }
}

