/*
 * Custom CSS
 * Onizuka Nghia
 */
body {
    background-color: #fff;
}

.top-navigation .wrapper.wrapper-content {
    padding: 30px 15px;
}

.count-info .label {
    left: 50%;
    right: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.top-navigation #right-sidebar{
    top: 50px;
/*    bottom: 39px; */
}

.sidebar-container ul.nav-tabs li:not(.active) a:hover{
    background: #2F4050;
    color: #fff;
}
.sidebar-content .wrapper, .wrapper.sidebar-content {
    padding-right: 270px !important;
}
.sidebar-container .sidebar-message .media-body{
    display: block;
    width: auto;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-bottom-color: #fff;
}
@media (max-width: 768px) {
    .sidebar-content .wrapper, .body-small .sidebar-content .wrapper {
        padding-right: 0!important;
    }
}
@media (min-width: 768px) {
    .top-navigation #right-sidebar {
        right: 0;
    }
}


.navbar-top-links .dropdown-user {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-user .contact-box{
    border: none;
    padding: 20px 10px;
    margin-bottom: 0;
}
.navbar-top-links .dropdown-menu .user-links a{
    padding: 3px 5px;
    min-height: 0;
    display: block;
    color: #676a6c;
}
.navbar-top-links .dropdown-menu .user-links a .fa{
    width: 14px;
    text-align: center;
}

/* order BOX */
.order-box .alert{
    border-radius: 0;
    margin-bottom: 0;
}
.order-box-content {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-top: 0;
    padding: 5px 20px;
    margin-bottom: 20px;
}
.order-box-header {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-bottom: 0;
    padding: 30px 20px 20px 20px;
}
.order-box-header h2 {
    margin-top: 0;
}
.order-search {
    max-width: 300px;
}
.orderbox-content .tag-list li a {
    background: #ffffff;
}
.order-body {
    border-top: 1px solid #e7eaec;
    padding: 20px;
}
.order-text {
    border-top: 1px solid #e7eaec;
}
.order-text .note-toolbar {
    padding: 10px 15px;
}
.order-body .form-group {
    margin-bottom: 5px;
}
.order-text .note-editor .note-toolbar {
    background-color: #F9F8F8;
}
.order-attachment {
    border-top: 1px solid #e7eaec;
    padding: 20px;
    font-size: 12px;
}
.orderbox-content {
    background: none;
    border: none;
    padding: 10px;
}
.order-ontact {
    width: 23%;
}

.footable-toggle{
    width: 15px;
    text-align: center;
    position: absolute;
}
.item-inner{
    margin-left: 20px;
}
.item-inner .item-thumb{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.item-inner .item-thumb .label{
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-inner .item-title{
    margin-top: 0;
}
.folder-list li{
    margin: 0 0 0 10px;
}
.folder-list li a{
    padding: 5px 10px;
}
.folder-list li a.selected{
    font-weight: bold;
    border-left: 3px solid;
    margin-left: -3px;
}

#status_time{
    background-color: #eeeeee;
    margin-right: -2px;
}
.input-group-btn.dropdown .dropdown-menu > li > a{
    line-height: 16px;
}

@media (min-width: 998px) {
    .top-navigation .navbar {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
    }

    body.modal-open, body.modal-open.top-navigation .navbar,
    body.stop-scrolling, body.stop-scrolling.top-navigation .navbar{
        margin-right: 15px !important;
    }
}

@media (min-width: 1200px) {
    .orders-page > .row > .col-lg-3 {
        width: 20%;
    }
    .orders-page > .row > .col-lg-9 {
        width: 80%;
    }
}

.sidebar-container .sidebar-title {
    border-bottom: 0;
}
.no-content{
    text-align: center;
    padding: 50px 10px;
}
.no-content .icon{
    font-size: 80px;
    margin-bottom: 20px;
}
.no-content .title{
    font-size: 18px;
}
.no-content .subtitle{

}